
.custom-navbar{
    background-color: black !important;
}

.custom-logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.custom-menu{
    margin-left: 50px;
}

.custom-menu ul li a{
   font-size: 1.3rem;
   color: white !important;
}
.custom-menu ul li a:hover{
    font-size: 1.3rem;
    color: rgb(168, 163, 163) !important;
 }
@media screen and (min-width: 987px) {
    .custom-menu{
       display: flex;
       justify-content: flex-end;
    }
}
